/** Add css rules here for your application. */
.identity-header {
  font-size: 14px;
  font-weight: bold;
  padding-top: 7px;
  padding-left: 7px;
  padding-bottom: 5px;
}

.identity-fields-grid {
  margin-top: 3px;
  margin-bottom: 5px;
}

.identity-relation-header {
  border-left : 0;
  border-right : 0;
}

.identity-relation-grid {
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.new-sheet-item {
  margin-right: -3px;
}


.relation-dialog-status {
  margin-left: -24px;
}

.relation-dialog-button-bar {
  margin-left: 5px;
}

.edit-model-icon {
	width:15px;
	height:15px;
	background-image: url("images/package.png")!important;
	background-repeat: no-repeat;
}

.edit-type-icon {
	width:15px;
	height:15px;
	background-image: url("images/brick.png")!important;
	background-repeat: no-repeat;
}

.map {  
  position : absolute;
  top : 0;
}

.machine-default {  
	border: 2px solid black;  
}

.machine-selected {  
	border: 2px solid red;
}

.machine-highlighted {  
	border: 2px solid blue;
}

.machine {
  position: absolute; 
  z-index: 2; 
  height: 16;
  font-size: 12;
  cursor: pointer;
}

.indicator {
  position: absolute; 
  z-index: 2; 
  height: 8;
  width: 8;
  left:-12;
  cursor: pointer;
}

.screen-indicator {
  background: purple;
  top:0;
}

.device-indicator {
  background: #1E90FF;
  top:8;
}

